a:link {
    color: #4f2455;
    text-decoration: none;
  }

  a:visited {
    color: #4f2455;
    text-decoration: none;
  }

  a:hover {
    color: #4f2455;
    text-decoration: underline;
  }

  a:active {
    color: #4f2455;
    text-decoration: none;
  }

  a:link {
      color: #4f2455;
      text-decoration: none;
  }

  a.nav-link:visited {
      color: #4f2455;
      text-decoration: none;
  }

  a.nav-link:hover {
      color: #4f2455;
      text-decoration: underline;
  }

  a.nav-link:active {
      color: #4f2455;
      text-decoration: none;
  }

  a.register:hover {
    color: #4f2455;
    text-decoration: underline;
  }
#navdiv{background-color:white}
body{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); font-family: 'Raleway';}
.reset-box{margin-left:auto; display:inline;}
.form_box{border-radius: 80px; text-align:center; margin-top:6vh; padding-bottom:10vh; background-color:white;}
#username{font-size: 20px;}
#reset_question{font-size: 20px;}
#reset_password{background-color:#fafafa}
#reset_passwordconfirm{background-color:red}
#btn1{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); color:white}
#btn2{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); color:white}
#btn3{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); color:white}


