
a.nav-link:visited {
    color: white;
    text-decoration: none;
}

a.nav-link:hover {
    color: white;
    text-decoration: underline;
}

a.nav-link:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
  }


#navdiv{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); }
.navbar-brand{color:white}
.nav-link{color:white}
body{background-color:white; font-family: 'Raleway';}

body{background-color:white; font-family: 'Raleway';}
#button_new_subject{margin-top:5vh;}
#new_subject_parent{text-align:center; background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%);}
#new_subject{display: inline-block; text-align:left}
#new_password_parent{text-align:center; background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%);}
#new_password{display: inline-block; text-align:left}
#password_reset_parent{text-align:center; background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%);}
#password_reset{display: inline-block; text-align:left}
#language_change_parent{text-align:center; background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%);}
#language_change{display: inline-block; text-align:center}


.btn{background-color:#281E30; color:white; width:100%;}
.btn:hover {color: white}