a.nav-link:visited {
    color: white;
    text-decoration: none;
}

a.nav-link:hover {
    color: white;
    text-decoration: underline;
}

a.nav-link:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
  }

a.cs50:link {
    color: #4f2455;
    text-decoration: none;
  }

a.cs50:active {
    color: #4f2455;
    text-decoration: none;
}

a.cs50:hover {
    color: #4f2455;
    text-decoration: underline;
  }

a.cs50:visited {
    color: #4f2455;
    text-decoration: none;
}


#navdiv{background-image:linear-gradient(121.84deg, #811e68 17.02%, #671d5f 50.23%, #4f2455 83.43%); }
.navbar-brand{color:white}
.nav-link{color:white}
body{background-color:white; font-family: 'Raleway';}
.title{display:inline; color:#4f2455; padding-bottom:0; margin-bottom:0}
.txt{background-color:white; color:black; text-align:justify}
.text{border-top:solid; padding-top:4vh; margin-top:0; margin-bottom:0; border-color:#4f2455}
