{% extends "layout-english.html" %}

{% block title %}
    FedeLibro | Información - eng
{% endblock %}

{% block stylesheet %}
    <link href = "/static/styles_about.css" rel="stylesheet">
{% endblock %}

{% block font %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}


{% block main %}
<div class = "container p-5 pt-0" id = "all">

    <div class = "container py-5 my-2 txt">
        <h2 class ="title">Idea:</h2><br><br>
        <p class = "text">
        Fedelibro is my final project for <a class = "cs50" href = "https://cs50.harvard.edu/x/2022/"><b>CS50</b></a>. 
        Initially, I had a hard time coming up with the idea because I wanted it to be something useful and not just a project to pass the course. 
        Ideally, I wanted my final project to be something that would be of use even after CS50 was over.<br>
        This idea occurred to me one day when my mother was putting away some of her books in a bookshelf.
        My mother is a primary school teacher and over the years she has accumulated a large amount of books, 
        this is why every time she wants to look for a book it takes her a long time to find it.<br>
        I realized that, with all the tools <a class = "cs50" href = "https://cs50.harvard.edu/x/2022/"><b>CS50</b></a> has provided me with, 
        I could do something to solve that problem. This web application is the result.
        </p>
    </div>

    <div class = "container py-5 my-2 txt">
        <h2 class="title">Purpose:</h2><br><br>
        <p class = "text">
            FedeLibro provides a system with which users can not only store their physical books in a database, 
            but also methodically order and add new books in order to minimize search time.
        </p>
    </div>

    <div class = "container py-5 my-2 txt">
        <h2 class="title">How to use:</h2><br><br>
        <p class = "text">
        <b>Add a book:</b><br>
        If you want to add a new book, go to the "Add" page in the navigation bar at the top and fill in the required fields (title and subject). Optionally, also fill in the additional ones and press the button that says "Add Book".<br>
        If the subject of your book is not among the available ones to choose from, to add a new theme click on your username (upper right corner) and in the menu that appears select "Settings".<br>
        Next, type in the theme you want to add and click the "Add Theme" button.<br>
        Once the book has been added, you will be redirected to the index page and see an alert that shows the ID of the book you added. You must write that ID on a label or something similar and somehow "glue" it to the spine of the book.<br>
        Also, always remember to physically store, in a piece of furniture or where you normally store your books, always keeping the one you are adding to the right of the last one added.
        <br><br>

        <b>Search for a book:</b><br>
        To search for a book go to the "Search" page in the top navigation bar. Fill in the required fields (title and subject). Optionally, also fill in the additional ones and press the button that says "Search Book".<br>
        If a book (or several) that you have previously added completely matches your search, it will appear on the screen along with an alert that confirms the finding of your book.<br>
        However, in the event that no book completely matches your search, Fedelibro will search if any book matches the title and the main topic or subtopics. If a book (or several) meets these new requirements, 
        it will appear on the screen along with an alert letting you know that your book was probably found. You must verify if your book was actually found.<br>
        In the event that no book is found either, it will search for and show you books that have the same or a similar title as your search.<br>
        Nevertheless, if still no book is found, it means that the book does not exist within the database (it was never added), or that you made a mistake in the search (e.g. misspellings).<br>
        Once the book is found, you will be able to see its ID on the screen, with which you can search for it in your stored books.
        <br><br>

        <b>Delete a book:</b><br>
        To delete a book, you must first search for it on the "Search" page. To do this, follow the steps mentioned in the previous point.<br>
        Once you have found the book, you must then check which book to delete and click the "Delete selected book/s" button.
        <br><br>

        <b>Search in the index table:</b><br>
        If you want to search for one or more books in the index table, you can, on the index page (the first page you see after logging in), sort the books in the table in different ways.<br>
        For instance, if you want to see all the books written by a specific author, you can select "author" from the "Sort by" dropdown menu, and the books will be grouped by their author, 
        alphabetically. 
        This means that if, for example, you want to see the books written by Ana and by Vicente (fictitious names), 
        you can select sort by author and you will see Ana's books near the beginning of the table, while Vicente's, due to the alphabetical order, will be closer to the bottom of the table.
        <br><br>

        <b>Change your password:</b><br>
        To change your password, click on your username (upper right corner) and in the menu that appears select "Settings".<br>
        Next, select the second option that says "Change password". In the section that appears on the screen, complete the fields and click on the button that says "Change password".
        <br><br>

        <b>Change or add a secret question and its answer:</b><br>
        To add one, or change your secret question, the procedure is very similar to that of changing the password.<br>
        First, click on your username (upper right corner) and in the menu that appears select "Settings".<br>
        Then, select the third option that says "Add key question". In the section that appears, fill in the fields and hit the button that says "Add secret question."<br>
        Remember to think carefully about the both the question and its answer, because only with them you will be able to access your account in case you forget your password.
        </p>
    </div>

</div>
{% endblock %}