{% extends "layout-portuguese.html" %}

{% block title %}
    FedeLivro | Informação
{% endblock %}

{% block stylesheet %}
    <link href = "/static/styles_about.css" rel="stylesheet">
{% endblock %}

{% block font %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}


{% block main %}
<div class = "container p-5 pt-0" id = "all">

    <div class = "container py-5 my-2 txt">
        <h2 class ="title">Motivo:</h2><br><br>
        <p class = "text">
        Este aplicativo da web é meu projeto final do <a class = "cs50" href = "https://cs50.harvard.edu/x/2022/"><b>CS50</b></a>. Tive dificuldade em ter a ideia porque queria que fosse algo útil, 
        e não apenas um projeto para passar no curso. Eu queria que fosse algo que também fosse útil depois que o <a class = "cs50" href = "https://cs50.harvard.edu/x/2022/"><b>CS50</b></a> terminasse.<br>
        Essa ideia me ocorreu um dia quando minha mãe estava guardando alguns de seus livros em uma biblioteca. A minha mãe é professora primária e ao longo dos anos acumulou um grande número de livros. 
        É por isso que toda vez que ela quer procurar um livro, leva muito tempo para encontrá-lo.<br>
        Percebi que poderia fazer algo para resolver esse problema e esta aplicação web é o resultado.
        </p>
    </div>

    <div class = "container py-5 my-2 txt">
        <h2 class="title">Propósito:</h2><br><br>
        <p class = "text">
            O FedeLibro oferece um sistema com o qual os usuários podem não apenas armazenar seus livros físicos em um banco de dados, 
            mas também ordenar e adicionar novos livros metodicamente para minimizar o tempo de busca.
        </p>
    </div>

    <div class = "container py-5 my-2 txt">
        <h2 class="title">Modo de uso:</h2><br><br>
        <p class = "text">
        <b>Adicionar livro:</b><br>
        Se você deseja adicionar um novo livro, vá para a página "Adicionar" na barra de navegação superior e 
        preencha os campos obrigatórios (título e assunto). Opcionalmente, preencha também os adicionais e pressione o botão que diz "Adicionar livro".<br>
        Caso o tema do seu livro não esteja entre os temas disponíveis para escolher, para adicionar um novo tema clique 
        no seu nome de usuário (canto superior direito) e no menu que aparece selecione "Configurações".<br>
        Em seguida, digite o tema que deseja adicionar e clique no botão "Adicionar tema".<br>
        Depois que o livro for adicionado, você será redirecionado para o índice e verá um alerta que diz o ID do livro que você adicionou. 
        Você deve escrever essa identificação em uma etiqueta ou algo semelhante e de alguma forma "colar" na lombada do livro.<br>
        Além disso, lembre-se sempre de guardar fisicamente, em um móvel ou onde você costuma guardar seus livros, mantendo o que você está adicionando à direita do último adicionado.
        <br><br>

        <b>Pesquisar livro:</b><br>
        Para pesquisar um livro, vá para a página "Pesquisar" na barra de navegação superior. 
        Preencha os campos obrigatórios (título e assunto). Opcionalmente, preencha também os adicionais e pressione o botão que diz "Pesquisar livro".<br>
        Se um livro (ou vários) que você adicionou anteriormente corresponder completamente à sua pesquisa, ele aparecerá na tela junto com um alerta que confirma a localização do seu livro.<br>
        Caso nenhum livro corresponda completamente à sua pesquisa, a Fedelibro pesquisará se algum livro corresponder apenas ao título e ao tópico principal ou subtópicos. 
        Se um livro (ou vários) atender a esses novos requisitos, ele aparecerá na tela junto com um alerta informando que seu livro provavelmente foi encontrado. 
        Você deve verificar se seu livro foi realmente encontrado.<br>
        Caso nenhum livro seja encontrado, Fedelibro procurará e mostrará livros que tenham o mesmo título ou um título semelhante ao da sua pesquisa.<br>
        Se ainda assim nenhum livro for encontrado, significa que o livro não existe no banco de dados (nunca foi adicionado) ou que você cometeu um erro na busca (por exemplo, erros ortográficos).<br>
        Uma vez encontrado o livro, você poderá ver seu ID na tela, com o qual poderá procurá-lo em seu armário onde guarda os livros.
        <br><br>

        <b>Apagar livro:</b><br>
        Para apagar um livro, você deve primeiro procurá-lo na página de pesquisa. Para fazer isso, siga as etapas mencionadas no ponto anterior.<br>
        Depois de encontrar o livro, você deve selecionar a cópia ou cópias a serem excluídas e clicar no botão "Apagar livro/s selecionado"s.
        <br><br>

        <b>Pesquisar no índice:</b><br>
        Se você quiser pesquisar um ou mais livros no índice, você pode, na página de índice (a primeira página que você vê após o login), classificar os livros na tabela de diferentes maneiras.<br>
        Por exemplo, se você quiser ver todos os livros de um autor específico, selecione "autor" no menu suspenso "Classificar por" e os livros serão agrupados por autor, em ordem alfabética. 
        Isto significa que se, por exemplo, pretender ver os livros escritos pela Ana e pelo Vicente (nomes fictícios), pode selecionar a ordenação por autor e verá os livros da Ana junto ao início da tabela, enquanto os do Vicente, devido à ordem alfabética, você os verá mais perto da parte inferior da tabela.
        <br><br>

        <b>Alterar senha:</b><br>
        Para alterar a senha, clique no seu nome de usuário (canto superior direito) e no menu que aparece selecione "Configurações".<br>
        Em seguida, selecione a segunda opção que diz "Alterar senha". Na seção que aparece na tela, preencha os campos e clique no botão que diz "Alterar senha".
        <br><br>

        <b>Mudar língua:</b><br>
        Para mudar a língua, clique no seu nome de usuário (canto superior direito) e no menu que aparece selecione "Configurações".<br>
        Em seguida, selecione a última opção que diz "Mudar língua". Na seção que aparece na tela, selecione seu idioma e clique no botão que diz "Mudar língua".
        <br><br>

        <b>Alterar pergunta secreta:</b><br>
        Para adicionar ou alterar a pergunta secreta, o procedimento é muito semelhante ao da alteração da senha.<br>Clique no seu nome de usuário (canto superior direito) 
        e no menu que aparece selecione "Configurações".<br>
        Em seguida, selecione a terceira opção que diz "Adicionar pergunta secreta". Na seção que aparece, preencha os campos e aperte o botão que diz "Adicionar pergunta secreta".<br>
        Lembre-se de pensar com cuidado na pergunta e resposta secretas, pois somente com elas você poderá acessar sua conta caso esqueça a senha.
        </p>
    </div>

</div>
{% endblock %}