{% extends "layout-portuguese.html" %}

{% block title %}
    FedeLivro | Adicionar livro
{% endblock %}

{% block stylesheet %}
<link href = "/static/styles_add.css" rel="stylesheet">
{% endblock %}

{% block font %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}

{% block main %}

    {% if error == 1 %}
        <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Erro.</strong> ¡Favor preencher todas as informações obrigatórias!
        </div>
    {% endif %}

<form action="/add" method="post">
    <div id = "required_parent" class = "container p-5 bg-dark text-white shadow-lg">
    <div id = "required">
        <div>
            <h2>Título</h2>
            <input type="text" autocomplete="off" autofocus id="title" name="title" placeholder="Título">
        </div>
        <div>
            <br>

             <div id = "topic"style="text-align:left; margin:0; padding:0">
                <h2>Tópico principal</h2>
             </div>

            {% for subject in subjects %}
            <input type="radio" class="subjects" name="subjects" value="{{subject}}" id = "{{subject}}">
            <label for="{{subject}}">{{subject}}</label><br>
            {% endfor %}
        </div>
    </div>
</div>


<div id = "optional_button" class = "container p-0 my-0 bg-dark text-white shadow-lg">
    <div class = "d-grid">
        <button type="button" class="btn btn-block" id = "button_optional" data-bs-toggle="collapse" data-bs-target="#optional_collapse"><b>Características adicionais</b></button>
    </div>
</div>

<div id = "optional_collapse" class = "collapse">
<div id = "optional_parent" class = "container p-5 bg-dark text-white">
    <div id = "optional">
        <div>
            <h2>Subtópicos</h2>
            {% for subject in subjects %}
            <input type="checkbox" class="subjects_optional" name="subjects_opt" value="{{subject}}" id = "{{subject}}_opt">
            <label for="{{subject}}_opt">{{subject}}</label><br>
            {% endfor %}
        </div>
        <div>
            <br><h2>Autor</h2>
            <input type="text" autocomplete="off" autofocus id="author" name="author" placeholder="Autor">
        </div>
        <div>
            <br><h2>Estado</h2>
            <input type="radio" id="poor" name="condition" value="Mau">
            <label for="poor">Mau</label><br>
            <input type="radio" id="fair" name="condition" value="Deteriorado">
            <label for="fair">Deteriorado</label><br>
            <input type="radio" id="fine" name="condition" value="Aceitável">
            <label for="fine">Aceitável</label><br>
            <input type="radio" id="good" name="condition" value="Bom">
            <label for="good">Bom</label><br>
            <input type="radio" id="very_good" name="condition" value="Muito bom">
            <label for="very_good">Muito bom</label><br>
        </div>
        <div>
            <br><h2>Cor</h2>
            <input type="text" autocomplete="off" autofocus id="colour" name="colour" placeholder="Cor">
        </div>
        <div>
            <br><h2>Capa</h2>
            <input type="radio" id="hardcover" name="cover" value="Dura">
            <label for="hardcover"> Dura </label><br>
            <input type="radio" id="paper" name="cover" value="Comum">
            <label for="paper"> Comum </label><br>
        </div>
        <div>
            <br><h2>Ano</h2>
            <input type="number" id="year" name="year" placeholder="Ano">
        </div>
</div>
</div>

</div>
    <div id = "add_button" class = "container p-0 my-1">
        <div class = "d-grid">
            <button class="btn btn-block" type="submit" style = "color:white"><b>Adicionar livro</b></button>
        </div>
</div>
    </form>

    <script>
        // Limits the checbox input for selecting additional subjects to only 3
        var subjects_opt = document.querySelectorAll(".subjects_optional");
        var max = 3;
        for (var i = 0; i < subjects_opt.length; i++)
            subjects_opt[i].onclick = selectiveCheck;
        function selectiveCheck (event) {
            var checkedSubjects = document.querySelectorAll(".subjects_optional:checked");
            if (checkedSubjects.length >= max + 1)
                return false;
        }
    </script>
{% endblock %}