{% extends "layout-english.html" %}

{% block title %}
    FedeLibro | Add book
{% endblock %}

{% block stylesheet %}
<link href = "/static/styles_add.css" rel="stylesheet">
{% endblock %}

{% block font %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}

{% block main %}

    {% if error == 1 %}
        <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Unable to add book.</strong> Please fill the obligatory fields!
        </div>
    {% endif %}

<form action="/add" method="post">
    <div id = "required_parent" class = "container p-5 bg-dark text-white shadow-lg">
    <div id = "required">
        <div>
            <h2>Title</h2>
            <input type="text" autocomplete="off" autofocus id="title" name="title" placeholder="Title">
        </div>
        <div>
            <br>

             <div id = "topic"style="text-align:left; margin:0; padding:0">
                <h2>Main subject</h2>
             </div>

            {% for subject in subjects %}
            <input type="radio" class="subjects" name="subjects" value="{{subject}}" id = "{{subject}}">
            <label for="{{subject}}">{{subject}}</label><br>
            {% endfor %}
        </div>
    </div>
</div>


<div id = "optional_button" class = "container p-0 my-0 bg-dark text-white shadow-lg">
    <div class = "d-grid">
        <button type="button" class="btn btn-block" id = "button_optional" data-bs-toggle="collapse" data-bs-target="#optional_collapse"><b>Additional attributes</b></button>
    </div>
</div>

<div id = "optional_collapse" class = "collapse">
<div id = "optional_parent" class = "container p-5 bg-dark text-white">
    <div id = "optional">
        <div>
            <h2>Secondary subjects</h2>
            {% for subject in subjects %}
            <input type="checkbox" class="subjects_optional" name="subjects_opt" value="{{subject}}" id = "{{subject}}_opt">
            <label for="{{subject}}_opt">{{subject}}</label><br>
            {% endfor %}
        </div>
        <div>
            <br><h2>Author</h2>
            <input type="text" autocomplete="off" autofocus id="author" name="author" placeholder="Author">
        </div>
        <div>
            <br><h2>Condition</h2>
            <input type="radio" id="poor" name="condition" value="Mala">
            <label for="poor">Poor</label><br>
            <input type="radio" id="fair" name="condition" value="Deteriorado">
            <label for="fair">Fair</label><br>
            <input type="radio" id="fine" name="condition" value="Aceptable">
            <label for="fine">Fine</label><br>
            <input type="radio" id="good" name="condition" value="Buena">
            <label for="good">Good</label><br>
            <input type="radio" id="very_good" name="condition" value="Muy buena">
            <label for="very_good">Very good</label><br>
        </div>
        <div>
            <br><h2>Colour</h2>
            <input type="text" autocomplete="off" autofocus id="colour" name="colour" placeholder="Colour">
        </div>
        <div>
            <br><h2>Cover</h2>
            <input type="radio" id="hardcover" name="cover" value="Dura">
            <label for="hardcover"> Hardcover </label><br>
            <input type="radio" id="paper" name="cover" value="Blanda">
            <label for="paper"> Paper </label><br>
        </div>
        <div>
            <br><h2>Year</h2>
            <input type="number" id="year" name="year" placeholder="Year">
        </div>
</div>
</div>

</div>
    <div id = "add_button" class = "container p-0 my-1">
        <div class = "d-grid">
            <button class="btn btn-block" type="submit" style = "color:white"><b>Add book</b></button>
        </div>
</div>
    </form>

    <script>
        // Limits the checbox input for selecting additional subjects to only 3
        var subjects_opt = document.querySelectorAll(".subjects_optional");
        var max = 3;
        for (var i = 0; i < subjects_opt.length; i++)
            subjects_opt[i].onclick = selectiveCheck;
        function selectiveCheck (event) {
            var checkedSubjects = document.querySelectorAll(".subjects_optional:checked");
            if (checkedSubjects.length >= max + 1)
                return false;
        }
    </script>
{% endblock %}