{% extends "layout-portuguese.html" %}

{% block title %}
    FedeLivro | Índice
{% endblock %}

{% block stylesheet %}
    <link href = "/static/styles_index.css" rel="stylesheet">
{% endblock %}

{% block font %}
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
{% endblock %}

{% block main %}

{% if success == 0 %}
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Erro.</strong> Não foi possível adicionar o livro.
    </div>
{% endif %}

{% if success == 1 %}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Sucesso.</strong> Livro adicionado satisfatoriamente,  seu <b>ID</b> é: <b> {{book_id}}</b>.
    </div>
{% endif %}


{% if success == 2 %}
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Sucesso.</strong> O livro foi apagado.
    </div>
{% endif %}


<div class = "container p-5 mb-3" id = "index_table_div">
    <div class="dropdown my-4" style = "text-align:right;" id = "orderby_dropdown">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
    Ordenar por
    </button>
        <ul class="dropdown-menu" style = "background-color: #F7EAFF">
            <form action="/" method="post" id = "order_by_form" class = "mb-3">
                <li><input class = submit_button type ="submit" name ="order_by" value ="Id"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value = "Tópico"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Título"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Autor"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Cor"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Estado"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Ano"></li>
                <li><input class = submit_button type ="submit" name ="order_by" value ="Capa"></li>
            </form>
        </ul>
    </div>
    <table id = "index_table">
        <tr style = " text-align:left; border-bottom:solid; background-color:#4f2455">
        <th class = "priority">TÍTULO</th>
        <th class = "priority">TÓPICO</th>
        <th class = "priority0">SUBTÓPICO</th>
        <th class = "priority0">SUBTÓPICO</th>
        <th class = "priority0">SUBTÓPICO</th>
        <th class = "priority">AUTOR</th>
        <th class = "non-priority">ANO</th>
        <th class = "non-priority">ESTADO</th>
        <th class = "non-priority">COR</th>
        <th class = "non-priority">CAPA</th>
        <th class = "priority">ID</th>

        </tr>
    {% for book in books %}
       <tr>
       <td class = "important_td, priority">{{book["title"]}}</td>
       <td class = "priority">{{book["main_subject"]}}</td>
       <td class = "priority0">{{book["subject0"]}}</td>
       <td class = "priority0">{{book["subject1"]}}</td>
       <td class = "priority0">{{book["subject2"]}}</td>
       <td class = "priority">{{book["author"]}}</td>
       <td class = "non-priority">{{book["year"]}}</td>
       <td class = "non-priority">{{book["condition"]}}</td>
       <td class = "non-priority">{{book["colour"]}}</td>
       <td class = "non-priority">{{book["cover"]}}</td>
       <td id = "id_column" class = "important_td, priority">{{book["book_id"]}}</td>
       </tr>
    {% endfor %}
    </table>
</div>




{% endblock %}
